<ion-header>
  <ion-toolbar>
    <ion-title>
      Ionic Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  
  <h3>D8 API</h3>

  
  
  <br/>
  <br/>
  
  <div>token_url: {{ token_url }}</div>
  
  <button ion-button (click)="getToken()" >Get Token</button>
  <br/>
  <button ion-button (click)="doLogin()" >Login</button>
  <br/>
  <button ion-button (click)="doLogout()" >Logout</button>
  <br/>
  <button ion-button (click)="doPostNode()" >Post Node (REST)</button>
  <button ion-button (click)="doPostNodeService()" >Post Node (Service)</button>
  <button ion-button (click)="doGetPost(2)" >Get Post 2</button>
  <button ion-button (click)="doPostPost()" >Post Post</button> 
  
</ion-content>
